//Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto; // làm cuộn khi data dài
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 400;
    padding: 11px 16px;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// header
.header {
    position: relative;
    flex-shrink: 0; // không bị co khi dữ liệu cố chen
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
