.search,
.search-result {
    width: 361px;
}

.search {
    width: 361px;
    font-family: var(--font-family);
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-boder-radius);
    border: 1.5px solid transparent;
    padding-left: 16px;
    display: flex;
    position: relative;

    input {
        flex: 1;
        padding-right: 40px;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        outline: none;
        height: 100%;
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    color: red;
    animation: spinner 0.8s infinite; // linear quay đều, infinite quay vô hạn
}
// tạo key loading chuyển động quay tròn
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: var(--search-button-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
